@import "{{ site.theme }}";

/* Hide GitHub button */
.btn {
  display: none !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.btn:hover {
  background: none !important;
}

.btn .icon,
.btn-github .icon {
  display: none !important;
  background: none !important;
  opacity: 0 !important;
}